header {
    width: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    background-color: rgb(35,57,91);
    a{
        text-decoration: none;
    }
    .main-navigation, .social-media-links {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        height: 50px;
        margin: 0;
        li {
            margin-right: 15px;

            &:last-of-type{
                margin-right: 0px;
            }
        }

        border-bottom: 2px solid white;
    }

    .main-navigation {
        margin-left: 15px;
    }

    .social-media-links {
        margin-right: 15px;
    }
}