@import '../../variables.scss';

header {
    width: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    background-color: rgb(35,57,91);
    a{
        text-decoration: none;
    }
}

.main-navigation, .social-media-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    height: $header-height;
    margin: 0;
    font-size: 1.5rem;
    li {
        margin-right: 15px;

        &:last-of-type{
            margin-right: 0px;
        }
    }

    border-bottom: 2px solid $font-color;
}

.main-navigation {
    margin-left: 15px;
}

.social-media-links {
    margin-right: 15px;
}

.hamburger-menu-component {
    display: none;
}

@media (max-width: $mobile-width) {

    .main-navigation {
        display: none;
    }

    .hamburger-menu-component {
        display: inline-block;
    }

}