<header>
    <nav>
        <ul class="main-navigation">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['skills']">Skills</a></li>
            <li><a [routerLink]="['resume']">Resume</a></li>
            <li><a [routerLink]="['contact']">Contact</a></li>
        </ul>
        <hamburger-menu class="hamburger-menu-component"></hamburger-menu>
    </nav>
    <ul class="social-media-links">
        <li><a href="https://www.github.com/FunHaver">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/conor-t-sullivan/">LinkedIn</a></li>
    </ul>
</header>