<section>
    <h2>Skillsets</h2>
    <div>
        <h3>Software Development</h3>
        <ul>
            <li>Full Web Stack (elaborate)</li>
            <li>Test writing</li>
            <li>Browser Automation</li>
            <li>Version Control</li>
            <li>WCAG-Accessible Design</li>
            <li>farting!</li>
        </ul>
    </div>
    <div>
        <h3>Site Reliability</h3>
        <ul>
            <li>Linux Administration</li>
            <li>Systems Monitoring</li>
            <li>VM Migration</li>
            <li>Email Infrastructure Administration</li>
            <li>On-call Emergency Response</li>
            <li>Technical Documentation Writing</li>
            <li>PBX Softphone Management</li>
        </ul>
    </div>
    <div>
        <h3>Technical Support</h3>
        <ul>
            <li>Single Sign-On Implementation and Troubleshooting</li>
            <li>Vendor Software Integration</li>
            <li>Email Routing and Authentication</li>
            <li>DNS Zone Management</li>
            <li>SSL Certification Management</li>
        </ul>
    </div>
</section>
<section>
    <h2>Technologies</h2>
    <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JS</li>
        <li>Java</li>
        <li>Common LISP</li>
        <li>Postgresql</li>
        <li>MongoDB</li>
        <li>Bash</li>
        <li>XSLT</li>
        <li>SAML2</li>
        <li>Groovy</li>
        <li>Markdown</li>
        <li>Angular</li>
        <li>SCSS</li>
        <li>REST APIs</li>
        <li>Selenium</li>
        <li>Jasmine</li>
        <li>nodeJS</li>
        <li>Git</li>
        <li>Apache Web Server</li>
        <li>Postfix SMTP</li>
        <li>Shibboleth</li>
        <li>Jenkins</li>
        <li>Apache ANT</li>
        <li>Grunt</li>
        <li>FreePBX</li>
        <li>Standard Unix/Linux tools like SSH/SFTP/coreutils</li>
        <li>Emacs (for lisp)</li>
        <li>Vim (for everything else)</li>
        <li>JIRA Software Suite</li>
        <li>Adobe CC Suite</li>
        <li>Linux (Debian and Redhat-based systems)</li>
    </ul>
</section>