<div class="page-container skills">
<section class="skill-set">
    <h1>Skillsets</h1>
    <div class="skill-set-container">
    <div class="skill-set-category">
        <h2>Software Development</h2>
        <ul>
            <li>Front-End Development</li>
            <li>REST APIs</li>
            <li>Back-End Development</li>
            <li>Test Automation</li>
            <li>Version Control</li>
            <li>WCAG-Accessible Design</li>
        </ul>
    </div>
    <div class="skill-set-category">
        <h2>Site Reliability</h2>
        <ul>
            <li>Linux Administration</li>
            <li>Systems Monitoring</li>
            <li>VM Migration</li>
            <li>Email Infrastructure Administration</li>
            <li>On-call Emergency Response</li>
            <li>Technical Documentation Writing</li>
            <li>PBX Softphone Management</li>
        </ul>
    </div>
    <div class="skill-set-category">
        <h2>Technical Support</h2>
        <ul>
            <li>Single Sign-On Implementation and Troubleshooting</li>
            <li>Vendor Software Integration</li>
            <li>Email Routing and Authentication</li>
            <li>DNS Zone Management</li>
            <li>SSL Certification Management</li>
        </ul>
    </div>
</div>
</section>
<section class="technologies">
    <h1>Technologies</h1>
    <ul class="technologies-list">
        <li><i class="fa-brands fa-html5 tech-icon"></i>HTML5</li>
        <li><i class="fa-brands fa-markdown tech-icon"></i>Markdown</li>
        <li><i class="fa-brands fa-css3-alt tech-icon"></i>CSS3</li>
        <li><i class="fa-brands fa-sass tech-icon"></i>SCSS</li>
        <li><i class="fa-brands fa-js tech-icon"></i>JS</li>
        <li><i class="fa-brands fa-angular tech-icon"></i>Angular</li>
        <li><i class="fa-brands fa-node-js tech-icon"></i>nodeJS</li>
        <li><i class="fa-brands fa-java tech-icon"></i>Java</li>
        <li><i class="fa-solid fa-star tech-icon"></i>Groovy</li>
        <li><span class="tech-icon">λ</span>Common LISP</li>
        <li><i class="fa-solid fa-terminal tech-icon"></i>Bash</li>
        <li><i class="fa-solid fa-database tech-icon"></i>Postgresql</li>
        <li><i class="fa-solid fa-database tech-icon"></i>MongoDB</li>
        <li><i class="fa-solid fa-code tech-icon"></i>XSLT</li>
        <li><i class="fa-solid fa-lock tech-icon"></i>SAML2</li>
        <li><i class="fa-solid fa-layer-group tech-icon"></i>REST APIs</li>
        <li><i class="fa-solid fa-list-check tech-icon"></i>Selenium</li>
        <li><i class="fa-solid fa-list-check tech-icon"></i>Jasmine</li>
        <li><i class="fa-solid fa-code-merge tech-icon"></i>Git</li>
        <li><i class="fa-solid fa-feather-pointed tech-icon"></i>Apache Web Server</li>
        <li><i class="fa-solid fa-envelope tech-icon"></i>Postfix SMTP</li>
        <li><i class="fa-solid fa-user-lock tech-icon"></i>Shibboleth</li>
        <li><i class="fa-brands fa-jenkins tech-icon"></i>Jenkins</li>
        <li><i class="fa-solid fa-hammer tech-icon"></i>Apache ANT</li>
        <li><i class="fa-solid fa-hammer tech-icon"></i>Grunt</li>
        <li><i class="fa-solid fa-phone tech-icon"></i>FreePBX</li>
    </ul>
</section>
</div>