<div class="page-container">
<h1>Resume</h1>
<h2>Skills</h2>
<ul>
    <li>Full Stack Web Development</li>
    <li>Technical Documentation</li>
    <li>Automated Test Development</li>
    <li>Agile Development</li>
    <li>Linux System Administration</li>
    <li>CI/CD Pipeline Development</li>
    <li>Git/Version Control</li>
</ul>

<h2>Experience</h2>
<h3>WebCheckout Inc. | Chicago, IL <span class="job-date-range">October 2019 - Now</span></h3>
<p class="job-title">Junior Programmer (May 2022-Now)</p>
<ul>
    <li>Implemented features and bug fixes in an Agile environment</li>
    <li>Generated and deployed patches with a quick turnaround</li>
    <li>Worked in every part of the web stack (front-end, back-end, database, webserver administration)</li>
    <li>Performed regular code reviews</li>
    <li>Maintained and updated automated testing suites</li>
</ul>
<p class="job-title">Technical Operations Analyst (October 2019 - April 2022)</p>
<ul>
    <li>Administered dozens of Linux VMs</li>
    <li>Administered SMTP smart hosts and corresponding DNS entries (SPF, DKIM, DMARC)</li>
    <li>Implemented client style guides using CSS to fit our software to their brand identity </li>
    <li>Integrated our vendor software with client Single Sign-On systems</li>
    <li>Responded and solved client technical issues via the Jira Service Desk system</li>
    <li>Automated tasks via bash scripting</li>
    <li>Maintained and updated Jenkins CI/CD pipelines</li>
</ul>

<h3>Absolutely Chicago Segway Tours | Chicago, IL <span class="job-date-range">April 2018 - November 2019</span></h3>
<p class="job-title">Tour Guide/Manager</p>
<ul>
    <li>Created a custom site integration of the company's online booking software</li>
    <li>Managed website hosting configuration and content updates</li>
    <li>Gave safe, entertaining, and informative tours of downtown Chicago</li>
    <li>Sold and managed tour bookings in person and over the phone</li>
    <li>Repaired and maintained Segways</li>
</ul>

<h3>Freelance | Chicago, IL <span class="job-date-range">March 2018 - Now</span></h3>
<p class="job-title">Web Developer/Designer</p>
<ul>
    <li>Worked closely with clients to create a solution custom-fit for their needs</li>
    <li>Implemented responsive and efficient designs</li>
    <li>Sites developed using React.js, WordPress, or completely from scratch</li>
    <li>Managed DNS Zones</li>
    <li>Properly configured web hosting for security and reliability</li>
</ul>

<h2>Education</h2>
<h3>University of Illinois at Chicago | Chicago, IL</h3>
<p class="job-title">Non-Degree Seeking Graduate Student <span class="job-date-range">2019</span></p>
<ul>
    <li>Computer Science Focus</li>
</ul>

<h3>Purdue University | West Lafayette, IN</h3>
<p class="job-title">Bachelor of Arts: Film Interdisciplinary, <span class="job-date-range">Dec 2015</span></p>
<ul>
    <li>Minor in Communications</li>
</ul>
</div>