<div class="page-container">
<h1>Resume</h1>
<h2>Work Experience</h2>

<h3>Junior Programmer - WebCheckout Inc.</h3>
<h3>April 2022 - Present, Chicago, IL</h3>
<ul>
    <li>Developed a certification authorization system made to handle real-time reservation validation for over 10,000 users and associated items.</li>
    <li>Implemented a WCAG 2.1 compliant user interface, in AngularJS, to meet the requirements of public organizations, reducing customer attrition.</li>
    <li>Iterated and improved upon existing CI/CD infrastructure, reducing our build execution times by more than 20% per run.</li>
    <li>Automated manual regression tests using the Selenium, TestNG, and Jasmine, testing libraries. This saved the QA team dozens of man-hours per release cycle.</li>
</ul>
<h3>Technical Operations Analyst - WebCheckout Inc</h3>
<h3>November 2019 - April 2022, Chicago, IL</h3>
<ul>
    <li>Supported production applications by contributing bugfixes for client-discovered issues in our AngularJS front-end client.</li>
    <li>Performed maintenance and incident response on hundreds of production servers, ensuring an uptime greater than 99.9%..</li>
    <li>Resolved high-urgency issues with clients using clear, calm communication and a collaborative method of troubleshooting.</li>
</ul>

<h3>Web Developer - Freelance</h3>
<h3>April 2018 - November 2019, Chicago, IL</h3>
<ul>
    <li>Created and deployed web applications for appointment booking and marketing lead generation in the tourism and landscaping industries.</li>
</ul>

<h2>Education</h2>
<h3>Bachelor of Arts - Purdue University</h3>
<h3>Dec 2015, West Lafayette, IN</h3>
<ul>
    <li>Minor in Communications</li>
</ul>

<h2>Skills</h2>
<ul>
    <li>JavaScript, TypeScript, Angular, AngularJS, NodeJS, Grunt, Webpack | SQL, NoSQL, MongoDB, PostgreSQL | HTML | CSS, Sass | Java, Selenium, Groovy | Common LISP</li>
    <li>Agile, Customer Service, Technical Troubleshooting, Technical Documentation Writing, Web Development, Front End, Back End, git, WCAG compliance, Jira, automated testing</li>
    <li>Software as a Service (SaaS), Linux Administration, Cloud Hosting, Single Sign-On, SAML, Shibboleth, DevOps, Ansible, AWS, Apache Web Server</li>
</ul>
</div>